<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error {{ status_code }}</title>
    <link rel="icon" href="{{ url_for('static', path='img/lOGO PROYECTO LuckasEnt.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/page_error.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap" />
</head>

<body>
    <div class="error-container">
        <h1 class="error-code">{{ status_code }}</h1>
        <p class="error-message">{{ detail }}</p>
    </div>
</body>

</html>