<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tienda</title>
    <link rel="icon" href="{{ url_for('static', path='img/lOGO PROYECTO LuckasEnt.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/Tiendas.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="top-bar">
        <img class="logo" src="data:image/png;base64,{{ usuario['foto'] | b64encode }}" alt="Foto de perfil" />
        <div class="nav-title">Tiendas</div>
        <div class="navigation">
            <a href="{{ url_for('page') }}" class="nav-link">Inicio</a>
            <a href="{{ url_for('categoria') }}" class="nav-link">Categorías</a>
            <a href="#" class="nav-link">Ofertas</a>
            <a href="{{ url_for('tulista') }}" class="nav-link">Mi Lista</a>
            <a href="{{ url_for('perfil') }}" class="nav-link profile-link">
                Mi perfil
            </a>
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Busca un producto o tienda" />
                <button class="search-button">
                    <span class="material-symbols-outlined">search</span>
                </button>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <h1>Nuestros convenios</h1>
            <div class="grid">
    
                <div class="card">
                    <img src="{{ url_for('static', path='img/OIP.jpg') }}" alt="Makro">
                    <button>Explorar Tienda</button>
                </div>
    
                <div class="card">
                    <img src="img/jumbo.png" alt="Jumbo">
                    <button>Explorar Tienda</button>
                </div>
    
                <div class="card">
                    <img src="img/isimo.png" alt="Isimo">
                    <button>Explorar Tienda</button>
                </div>
    
                <div class="card">
                    <img src="img/exito.png" alt="Éxito">
                    <button>Explorar Tienda</button>
                </div>
    
                <div class="card">
                    <img src="img/alkosto.png" alt="Alkosto">
                    <button>Explorar Tienda</button>
                </div>
    
                <div class="card">
                    <img src="img/olimpica.png" alt="Olímpica">
                    <button>Explorar Tienda</button>
                </div>
    
                <div class="card">
                    <img src="img/d1.png" alt="D1">
                    <button>Explorar Tienda</button>
                </div>
    
                <div class="card">
                    <img src="img/metro.png" alt="Metro">
                    <button>Explorar Tienda</button>
                </div>
    
                <div class="card">
                    <img src="img/zapatoca.png" alt="Zapatoca">
                    <button>Explorar Tienda</button>
                </div>
    
                <div class="card">
                    <img src="img/mercado.png" alt="Mercado Colsubsidio">
                    <button>Explorar Tienda</button>
                </div>
    
                <div class="card">
                    <img src="img/ara.png" alt="Ara">
                    <button>Explorar Tienda</button>
                </div>
    
                <div class="card">
                    <img src="img/surtimax.png" alt="Surtimax">
                    <button>Explorar Tienda</button>
                </div>
    
                <div class="card">
                    <img src="img/oxxo.png" alt="OXXO">
                    <button>Explorar Tienda</button>
                </div>
    
                <div class="card">
                    <img src="img/tiendasd1.png" alt="Tiendas D1">
                    <button>Explorar Tienda</button>
                </div>
    
                <div class="card">
                    <img src="img/carulla.png" alt="Carulla">
                    <button>Explorar Tienda</button>
                </div>
    
            </div>
        </div>
    </section>
</body>
<footer>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-column">
                <div class="footer-info">
                    <div class="footer-heading">Comparte y ahorra en tus compras diarias</div>
                    <div class="footer-text">
                        Encuentra los mejores precios en supermercados y toma decisiones
                        inteligentes para tu hogar.
                    </div>
                </div>
                <div class="footer-actions">
                    <button class="footer-btn-primary">
                        <span class="footer-btn-text-primary">Explorar</span>
                    </button>

                    <button class="footer-btn-secondary">
                        <span class="footer-btn-text-secondary">Ayuda</span>
                    </button>
                </div>
            </div>
            <div class="footer-links-column">
                <div class="footer-link-list">
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Inicio</a>
                    </div>
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Contáctanos</a>
                    </div>
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Ayuda Online</a>
                    </div>
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Política de Privacidad</a>
                    </div>
                    <div class="footer-link-item">
                        <a href="{{ url_for('termino') }}" class="footer-link">Términos de Uso</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-credits">
            <div class="footer-logo-row">
                <div class="footer-logo-container">
                    <img class="footer-logo" src="{{ url_for('static', path='img/lOGO PROYECTO LuckasEnt.png') }}" />
                </div>
            </div>
            <div class="footer-divider"></div>
            <div class="footer-bottom-row">
                <div class="footer-copyright">
                    © 2024 LuckasEnt. Todos los derechos reservados.
                </div>
                <div class="footer-social-links">
                    <a href="https://facebook.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/Facebook.png') }}"
                            alt="Facebook" />
                    </a>
                    <a href="https://twitter.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/X.png') }}" alt="Twitter" />
                    </a>
                    <a href="https://instagram.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/Instagram.png') }}"
                            alt="Instagram" />
                    </a>
                    <a href="https://linkedin.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/LinkedIn.png') }}"
                            alt="LinkedIn" />
                    </a>
                    <a href="https://youtube.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/Youtube.png') }}"
                            alt="YouTube" />
                    </a>
                </div>

            </div>
        </div>
    </div>
</footer>

</html>