<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tienda</title>
    <link rel="icon" href="{{ url_for('static', path='img/lOGO PROYECTO LuckasEnt.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/tienda.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="top-bar">
        <img class="logo" src="data:image/png;base64,{{ usuario['foto'] | b64encode }}" alt="Foto de perfil" />
        <div class="nav-title">Tiendas</div>
        <div class="navigation">
            <a href="{{ url_for('page') }}" class="nav-link">Inicio</a>
            <a href="{{ url_for('categoria') }}" class="nav-link">Categorías</a>
            <a href="#" class="nav-link">Ofertas</a>
            <a href="{{ url_for('tulista') }}" class="nav-link">Mi Lista</a>
            <a href="{{ url_for('perfil') }}" class="nav-link profile-link">
                Mi perfil
            </a>
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Busca un producto o tienda" />
                <button class="search-button">
                    <span class="material-symbols-outlined">search</span>
                </button>
            </div>
        </div>
    </div>

    <!-- <section class="store-highlight">
        <div class="store-content">
            <img src="#" alt="Makro" class="store-logo">
            <div class="store-info">
                <h2>Makro</h2>
                <span class="badge">Desde 1968</span>
                <span class="badge">Calidad Garantizada</span>
                <p>Descubre nuestra historia y propuesta única</p>
            </div>
        </div>
        <a href="#" class="store-button">Ver más</a>
    </section>-->
    <div class="tienda-section">
        <div class="tienda-avatar">
            <img class="tienda-image-2" src="{{ url_for('static', path='img/makro-tienda.png') }}" />
        </div>
        <div class="tienda-container">
            <div class="tienda-title">Makro</div>
            <div class="tienda-selection">
                <div class="tienda-label-normal">
                    <div class="tienda-label-text">Desde 1968</div>
                </div>
                <div class="tienda-label-normal">
                    <div class="tienda-label-text">Calidad Garantizada</div>
                </div>
            </div>
            <div class="tienda-description">Descubre nuestra historia y propuesta única</div>
        </div>
        <div class="tienda-button">
            <a href="{{ url_for('Tiendas') }}" class="tienda-store-button">Ver más</a>
        </div>
    </div>
    <section class="map-section">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8354345093706!2d144.95373531531593!3d-37.81627927975171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf4c5f0b0a1b1cd37!2sMelbourne%20VIC%2C%20Australia!5e0!3m2!1sen!2s!4v1614123456789"
            width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
        <p class="map-text">
            📍 Encuentra nuestra tienda y puntos de distribución cercanos
        </p>
    </section>
    <div class="product-section">
        <div class="main-image">
            <img class="product-image" src="https://images.unsplash.com/photo-1519162808019-7de1683fa2ad?q=80&w=1375&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        </div>

        <div class="product-info">
            <div class="product-header">
                <div class="product-title">Producto Destacado</div>
                <div class="product-description">
                    Descubre todas las características y beneficios
                </div>
            </div>

            <div class="product-list">
                <div class="product-row">
                    <div class="product-card">
                        <div class="product-thumbnail"
                            style="background: url(https://images.unsplash.com/photo-1574963835461-30ca3b4ef239?q=80&w=1335&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center/cover no-repeat">
                            <div class="tag-container">
                                <div class="tag-label">Nuevo Lanzamiento</div>
                            </div>
                        </div>
                        <div class="product-details">
                            <div class="product-name">Tomate Chonto Paquete in</div>
                            <div class="product-price">$2.500</div>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="product-thumbnail"
                            style="background: url(https://images.unsplash.com/photo-1457296898342-cdd24585d095?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center/cover no-repeat">
                            <div class="tag-container">
                                <div class="tag-label">Oferta Especial</div>
                            </div>
                        </div>
                        <div class="product-details">
                            <div class="product-name">Arandanos Estuche 249G</div>
                            <div class="product-price">$13.600</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="info-section">
  <div class="info-container">
    <div class="info-header">
      <div class="info-title">Más Información</div>
      <div class="info-description">
        Descubre detalles adicionales sobre la marca
      </div>
    </div>
    <div class="info-list">
      <div class="info-row">
        <div class="info-article">
          <div class="info-image-container">
            <img class="info-image" src="https://images.unsplash.com/photo-1673218892955-7bea6ad9f58e?q=80&w=1335&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
          </div>
          <div class="info-details">
            <div class="info-subtitle">Historia de la Tienda</div>
            <div class="info-text">
              Desde nuestros inicios hasta nuestros logros actuales
            </div>
            <div class="info-tags">
              <div class="info-tag-item">
                <div class="info-tag-text">Calidad</div>
              </div>
              <div class="info-tag-item">
                <div class="info-tag-text">Innovación</div>
              </div>
            </div>
            <div class="info-user">
              <div class="info-avatar">
                <div class="info-avatar-img"></div>
                <div class="info-avatar-details">
                  <div class="info-username">CEO XYZ</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="info-row">
        <div class="info-article">
          <div class="info-image-container">
            <img class="info-image" src="https://plus.unsplash.com/premium_photo-1679429320552-ec9038ccd550?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
          </div>
          <div class="info-details">
            <div class="info-subtitle">Valores de la Marca</div>
            <div class="info-text">
              Compromiso con la sostenibilidad y la excelencia
            </div>
            <div class="info-tags">
              <div class="info-tag-item">
                <div class="info-tag-text">Compromiso Social</div>
              </div>
              <div class="info-tag-item">
                <div class="info-tag-text">Calidad</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
 
  </div>
   <div class="info-image-extra">
    <img class="info-image" src="https://images.unsplash.com/photo-1529111160535-a15c57eba3a7?q=80&w=1499&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
  </div>
</div>  
    <section class="carousel">
        <div class="carousel-container">
            <div class="carousel-slide">
                <img src="#" alt="Producto 1">
                <p>¡Descubre más productos y ofertas exclusivas!</p>
            </div>
            <div class="carousel-slide">
                <img src="#" alt="Producto 2">
                <p>Oferta especial en frutas frescas</p>
            </div>
            <div class="carousel-slide">
                <img src="#" alt="Producto 3">
                <p>¡Nuevos productos disponibles!</p>
            </div>
        </div>
        <div class="carousel-dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </section>

</body>
<footer>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-column">
                <div class="footer-info">
                    <div class="footer-heading">Comparte y ahorra en tus compras diarias</div>
                    <div class="footer-text">
                        Encuentra los mejores precios en supermercados y toma decisiones
                        inteligentes para tu hogar.
                    </div>
                </div>
                <div class="footer-actions">
                    <button class="footer-btn-primary">
                        <span class="footer-btn-text-primary">Explorar</span>
                    </button>

                    <button class="footer-btn-secondary">
                        <span class="footer-btn-text-secondary">Ayuda</span>
                    </button>
                </div>
            </div>
            <div class="footer-links-column">
                <div class="footer-link-list">
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Inicio</a>
                    </div>
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Contáctanos</a>
                    </div>
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Ayuda Online</a>
                    </div>
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Política de Privacidad</a>
                    </div>
                    <div class="footer-link-item">
                        <a href="{{ url_for('termino') }}" class="footer-link">Términos de Uso</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-credits">
            <div class="footer-logo-row">
                <div class="footer-logo-container">
                    <img class="footer-logo" src="{{ url_for('static', path='img/lOGO PROYECTO LuckasEnt.png') }}" />
                </div>
            </div>
            <div class="footer-divider"></div>
            <div class="footer-bottom-row">
                <div class="footer-copyright">
                    © 2024 LuckasEnt. Todos los derechos reservados.
                </div>
                <div class="footer-social-links">
                    <a href="https://facebook.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/Facebook.png') }}"
                            alt="Facebook" />
                    </a>
                    <a href="https://twitter.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/X.png') }}" alt="Twitter" />
                    </a>
                    <a href="https://instagram.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/Instagram.png') }}"
                            alt="Instagram" />
                    </a>
                    <a href="https://linkedin.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/LinkedIn.png') }}"
                            alt="LinkedIn" />
                    </a>
                    <a href="https://youtube.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/Youtube.png') }}"
                            alt="YouTube" />
                    </a>
                </div>

            </div>
        </div>
    </div>
</footer>

</html>